<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {{title}}
    </title>
    {% if description %}
      <meta name="description" content="{{description}}"/>
    {% endif %}
    {% block head %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    {% if prism == true %}
      <link rel="stylesheet" type="text/css" href="/static/css/prism-tomorrow.css">
    {% endif %}
    {% if canonical %}
  <link rel="canonical" href="{{ canonical }}" />
    {% endif %}

<!-- Google tag (gtag.js) -->
<style>
  body {
      transition: background-color 1s ease;
  }
</style>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-L258D3WXT1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-L258D3WXT1');
  gtag('config', 'AW-11116637356');
</script>

<script>
  // Define your original and final colors here
  var originalColor = {r: 255, g: 255, b: 255}; // white
  var finalColor = {r: 255, g: 240, b: 255}; // light green

  window.addEventListener("scroll", function() {
      var scrollPos = window.pageYOffset || document.documentElement.scrollTop || document.body.scrollTop || 0;
      var maxScroll = document.body.scrollHeight - window.innerHeight;
      var percentageScrolled = scrollPos / maxScroll;
      
      var r = Math.floor(originalColor.r + ((finalColor.r - originalColor.r) * percentageScrolled));
      var g = Math.floor(originalColor.g + ((finalColor.g - originalColor.g) * percentageScrolled));
      var b = Math.floor(originalColor.b + ((finalColor.b - originalColor.b) * percentageScrolled));
      
      document.body.style.background = 'linear-gradient(to bottom right, rgb(' 
          + originalColor.r + ',' + originalColor.g + ',' + originalColor.b + '), rgb(' 
          + r + ',' + g + ',' + b + '))';
  });
</script>
  </head>
  <body>
    {% include "./partials/navbar.html" %}

    {{ content | safe }}

    {% include "./partials/footer.html" %}

    <script src="/static/js/alpine.js"></script>

    {% if path == "home" %}
      <!-- Netlify Identity Widget -->
      <!-- Needed only if you are using Netlify Identity feature -->
      <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    {% endif %}

  </body>
</html>