---
layout: default
prism: true
---

<div class="container max-w-4xl mt-6  px-4">
    <div class="pb-5 mb-5 border-b border-gray-100">
        <div class="my-12">
            <img src="{{ featuredImage }}" alt="{{ title }}" class="header-img">
         </div>
        <h1 class="font-bold text-5xl">{{title}}</h1>
        <p class="text-center text-base leading-6 font-medium text-gray-500">
            <time> {{ date | readableDate }}
                by
                <a href="https://substack.com/@howbrainworks" target="_blank">Dariusz</a>

            </time>
        </p>

    </div>
    <article class="prose lg:prose-xl my-4 mx-auto max-w-4xl">
        {{ content | subscribe | cleanBrackets | safe }}</article>

    <h2 class="mt-12">See also</h2>
    {% set postslist = collections.post %}
    {% for post in postslist | reverse %}
    {% if not post.data.secret %}
    <article class="my-8 lg:grid lg:grid-cols-12 lg:gap-8">
        <div class="lg:col-span-5">
          <p class="text-base leading-6 text-gray-500 mb-3">
            <time>
                {{ post.date | readableDate }}
                by
                <a href="https://substack.com/@howbrainworks" target="_blank">Dariusz</a>
    
            </time>
        </p>
        <a href="{{ post.url | url }}"><img src="{{ post.data.featuredImage }}" alt="{{ post.data.title }}" class="header-img"></a>
    </div>
        <div class="lg:col-span-7">
            <h2 class="font-bold text-3xl text-gray-900 mb-2">
                <a href="{{ post.url | url }}">
                    {{ post.data.title }}
                </a>
            </h2>
                 <p class="text-lg text-gray-500 mb-3">
                    {{ post.data.description }}
                </p>
        </div>
    </article>
    {% endif %}
    {% endfor %}

</div>
<div id="toc" class="invisible 2xl:visible ">
    <h3>Table of Contents</h3>
    <ul id="toc-list"></ul>
  </div>
<script>
    // Generate the table of contents
    var tocList = document.getElementById('toc-list');
    var headings = document.querySelectorAll('article > h2, article > h3');
    
    for (var i = 0; i < headings.length; i++) {
      var heading = headings[i];
      var headingText = heading.innerText;
      var headingId = 'toc-heading-' + i;
      
      heading.setAttribute('id', headingId);
      
      var listItem = document.createElement('li');
      var link = document.createElement('a');
      
      link.setAttribute('href', '#' + headingId);
      link.innerText = headingText;
      
      listItem.appendChild(link);
      tocList.appendChild(listItem);
    }
    window.addEventListener('scroll', function() {
  var scrollPosition = window.pageYOffset || document.documentElement.scrollTop || document.body.scrollTop;

  for (var i = 0; i < headings.length; i++) {
    var heading = headings[i];
    var headingId = heading.getAttribute('id');
    var listItem = document.querySelector('li a[href="#' + headingId + '"]');

    if (heading.offsetTop - 20 <= scrollPosition) {
      listItem.classList.add('active');
    } else {
      listItem.classList.remove('active');
    }
  }
});

// Smooth scroll to the selected heading
var tocLinks = document.querySelectorAll('#toc-list a');
tocLinks.forEach(function(link) {
  link.addEventListener('click', function(e) {
    e.preventDefault();

    var targetId = this.getAttribute('href').slice(1);
    var targetElement = document.getElementById(targetId);
    var targetOffset = targetElement.offsetTop;

    window.scrollTo({
      top: targetOffset,
      behavior: 'smooth'
    });
  });
});
  </script>