---
permalink: /personal-gamification-blog.json
eleventyExcludeFromCollections: true
---
{
    "items": [
    {% for page in collections['Personal Growth Gamification'] %}
            {
                "date": "{{ page.date.toISOString() }}",
                "title": "{{ page.data.title }}",
                "description": "{{ page.data.description }}",
                "author": "{{ page.data.author }}",
                "image": "{{ settings.url }}{{ page.data.featuredImage }}",
                "content": {{ page.templateContent | toJson | safe}}
            },
    {% endfor %}
    ]
}
