
<div class="bg-white py-24 sm:py-32">
    <div class="container max-w-3xl mt-6 px-6">
      <div class="">
        <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Dariusz Tarczyński</h2>
        <h3 class="text-lg font-bold tracking-tight text-gray-900">Tech Gamifiction Consultant</h3>
        <p class="mt-6 text-lg leading-8 text-gray-600">Consultant, software architect and team leader, focused on user engagement, loyalty and gamification and their practical implementations.</p>
        <p class="mt-6 text-lg leading-8 text-gray-600">Owner of <a href="https://tdsoft.com/" target="_blank">TDSOFT</a> (since 2007), a software company specialising in custom software development of gamification solutions.</p>
        <p class="mt-6 text-lg leading-8 text-gray-600">Creator of <a href="https://ogamify.com/" target="_blank">OGAMIFY</a> - universal employee engagement platform that helps improve company culture, employee loyalty and engagement, leading to better business performance.</p>
        <p class="mt-6 text-lg leading-8 text-gray-600">Hire me for:</p>
        <ul>
            <li>- <b>Gamification / loyalty consulting</b> (hire me personally)</li>
            <li>- <b>Gamification / loyalty strategy delivery</b> (hire me personally)</li>
            <li>- <b>60-day office gamification pilot</b> (with OGAMIFY)</li>
            <li>- <b>E-commerce Gamification Strategy</b> (with TDSOFT)</li>
            <li>- <b>Custom Gamification Design</b> (with TDSOFT)</li>
            <li>- <b>Custom Gamification Development</b> (with TDSOFT)</li>
        </ul>
    </div>
                  <a target="blank" id="cta-calendar" alt="Go to calendar" href="https://calendly.com/dariusz-tdsoft/meeting-with-dariusz?back=1" style="background-color:rgb(238, 37, 37)" class="mt-10 block w-full rounded-md px-12 py-4 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">SEE MY CALENDAR</a>
    </div>
  </div>
</div>

<footer class="bottom-0 text-center w-full py-4">
    <small class="text-gray-500">Copyright ©
        2023. See also
        <a href="https://tdsoft.com" target="_blank" class="underline">TDSOFT - software and gamification experts</a>
    </small>
</footer>
<!-- Global notification live region, render this permanently at the end of the document -->
<div id="popup" aria-live="assertive" class="pointer-events-none fixed inset-0 flex items-end px-4 py-20 sm:items-start sm:px-6 sm:py-20">
  <div class="flex w-full flex-col items-center space-y-4 sm:items-end">
    <!--
      Notification panel, dynamically insert this into the live region when it needs to be displayed

      Entering: "transform ease-out duration-300 transition"
        From: "translate-y-2 opacity-0 sm:translate-y-0 sm:translate-x-2"
        To: "translate-y-0 opacity-100 sm:translate-x-0"
      Leaving: "transition ease-in duration-100"
        From: "opacity-100"
        To: "opacity-0"
    -->
    <div class="pointer-events-auto w-full max-w-sm overflow-hidden rounded-lg bg-gray-100 shadow-lg ring-1 ring-black ring-opacity-5">
      <div class="p-4">
        <div class="flex items-start">
          <div class="flex-shrink-0">
            <svg class="h-6 w-6 text-green-400" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
          </div>
          <div class="ml-3 w-0 flex-1 pt-0.5">
            <p class="text-sm font-medium text-gray-900" id="t_Title"></p>
            <p class="mt-1 text-sm text-gray-500" id="t_Text"></p>
          </div>

          <div class="ml-4 flex flex-shrink-0">
            <button id="popup-close" type="button" class="inline-flex rounded-md bg-white text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
              <span class="sr-only">Close</span>
              <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path d="M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z" />
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    // Set a Cookie
    let userLvl = "0";
    let title = "";
    let text = "";
function setCookie(cName, cValue, expDays) {
let date = new Date();
date.setTime(date.getTime() + (expDays * 24 * 60 * 60 * 1000));
const expires = "expires=" + date.toUTCString();
document.cookie = cName + "=" + cValue + "; " + expires + "; path=/";
}
function getCookie(cName) {
const name = cName + "=";
const cDecoded = decodeURIComponent(document.cookie); //to be careful
const cArr = cDecoded .split('; ');
let res;
cArr.forEach(val => {
if (val.indexOf(name) === 0) res = val.substring(name.length);
})
return res;
}
userLvl = getCookie("level");
if (!userLvl) {
userLvl = 0;
}

if (userLvl == 999) {
document.getElementById("popup").innerHTML="";
} else {

    if (userLvl == 1) {
title = "Level up!";
text = "You have unlocked a secret page <a class='text-green-800 text-bold' href='/secret-page''> <b>ENTER</b> </a>";
}


if (userLvl == 0) {
title = "Lets play a game";
text = "Now, open another page (+300exp).";
setCookie("level",1,30);
userLvl = 1;
}

document.getElementById("t_Title").innerHTML = title;
document.getElementById("t_Text").innerHTML = text;

document.getElementById("popup-close").onclick = function() {
setCookie("level",999,30);
document.getElementById("popup").innerHTML="";
}


}

    </script>