<footer class="{{ 'fixed' if path == 'home' }} bottom-0 text-center w-full py-4">
    <script async
  src="https://js.stripe.com/v3/buy-button.js">
</script>
<div class="bg-white py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl sm:text-center">
        <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Book consultation with Dariusz</h2>
        <p class="mt-6 text-lg leading-8 text-gray-600">Multiple years in IT industry and in product development positions, helped Dariusz to get the right perspective, when it comes to advising business owners who want to leverage gamifiction and bevaioral psychology. Now, his knowledge can be shared with others who seek increased profitability, efficiency and joy in their next venture.</p>
      <H3 class="text-xl font-bold mt-8">Trusted reviews:</H3>
      <p class="italic mt-4">"Dariusz did an excellent job with the project. His work was high quality and delivered on time, and we highly recommend him to anyone looking for a skilled freelancer on Upwork."</p>
      <p class="italic mt-4">"Terrific working with Dariusz, he had a terrific grasp of the material, understood the contract and worked quickly - great to work with - as my project continues I fully intend to reach out and engage Dariusz again!"</p>
      <div class="">
        <a class="text-green-700" href="https://www.upwork.com/freelancers/~0193d05a0675762952?viewMode=1" target="blank">Click here to verify references</a>
    </div>
    </div>
      <div class="mx-auto mt-16 max-w-2xl rounded-3xl ring-1 ring-gray-200 sm:mt-20 lg:mx-0 lg:flex lg:max-w-none">
        <div class="p-8 sm:p-10 lg:flex-auto">
          <h3 class="text-2xl font-bold tracking-tight text-gray-900">Gamification Analysis for your business</h3>
          <p class="mt-6 text-base leading-7 text-gray-600">With this package I will help you discover your business gamification potential. I will analyse your target user groups, competitions, map emotions and habits to create a compelling report showcasing the best use of gamification and behavioral elements in your business.</p>
          <div class="mt-10 flex items-center gap-x-4">
            <h4 class="flex-none text-sm font-semibold leading-6 text-indigo-600">What’s included</h4>
            <div class="h-px flex-auto bg-gray-100"></div>
          </div>
          <ul role="list" class="mt-8 grid grid-cols-1 gap-4 text-sm leading-6 text-gray-600 sm:grid-cols-2 sm:gap-6">
            <li class="flex gap-x-3">
              <svg class="h-6 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
              </svg>
              20 hours consulting work
            </li>
  
            <li class="flex gap-x-3">
              <svg class="h-6 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
              </svg>
              Extensive report
            </li>
  
            <li class="flex gap-x-3">
              <svg class="h-6 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
              </svg>
              Next steps guidance
            </li>
  
            <li class="flex gap-x-3">
              <svg class="h-6 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
              </svg>
              Multiple video calls to discuss progress
            </li>
          </ul>
        </div>
        <div class="-mt-2 p-2 lg:mt-0 lg:w-full lg:max-w-md lg:flex-shrink-0">
          <div class="rounded-2xl bg-gray-50 py-10 text-center ring-1 ring-inset ring-gray-900/5 lg:flex lg:flex-col lg:justify-center lg:py-16">
            <div class="mx-auto max-w-xs px-8">
              <p class="text-base font-semibold text-gray-600">NOTE! Limited availability.</p>
              <p class="mt-6 flex items-baseline justify-center gap-x-2  mb-6">
                <span class="text-5xl font-bold tracking-tight text-gray-900">$1900</span>
              </p>
              <a target="blank" alt="Book now" href="https://book.stripe.com/fZe3es9VJ9xsccE289" style="background-color:rgb(22, 228, 43)" class="mt-10 block w-full rounded-md px-12 py-4 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Book now</a>
              <p class="mt-6 text-xs leading-5 text-gray-600">Invoices and receipts available for easy company reimbursement</p>
            </div>
        </div>
          </div>
        </div>

        <div class="mx-auto mt-16 max-w-2xl rounded-3xl ring-1 ring-gray-200 sm:mt-20 lg:mx-0 lg:flex lg:max-w-none">
            <div class="p-8 sm:p-10 lg:flex-auto">
              <h3 class="text-2xl font-bold tracking-tight text-gray-900">Hourly Gamification Consultation</h3>
              <p class="mt-6 text-base leading-7 text-gray-600">After the payment, I will send you a link to my calendar to schedule a session with me.</p>


            </div>
            <div class="-mt-2 p-2 lg:mt-0 lg:w-full lg:max-w-md lg:flex-shrink-0">
              <div class="rounded-2xl bg-gray-50 py-2 text-center ring-1 ring-inset ring-gray-900/5 lg:flex lg:flex-col lg:justify-center">
                <div class="mx-auto max-w-xs px-8">
                  <p class="mt-6 flex items-baseline justify-center gap-x-2  mb-6">
                    <span class="text-5xl font-bold tracking-tight text-gray-900">$120</span>
                    <span class="text-sm font-semibold leading-6 tracking-wide text-gray-600">per hour</span>
                  </p>
                  
                  <a target="blank" alt="Book now" href="https://calendly.com/dariusz-tdsoft/60-minute-consultation" style="background-color:rgb(22, 228, 43)" class="mt-10 block w-full rounded-md px-12 py-4 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Book now</a>

                </div>
                </div>
              </div>
        </div>

        <div class="mx-auto mt-16 max-w-2xl rounded-3xl ring-1 ring-gray-200 sm:mt-20 lg:mx-0 lg:flex lg:max-w-none">
            <div class="p-8 sm:p-10 lg:flex-auto">
              <h3 class="text-2xl font-bold tracking-tight text-gray-900">Free 30-min Gamification chat</h3>
              <p class="mt-6 text-base leading-7 text-gray-600">If you would like to chat, or discuss any topic, just feel free to book a 30-minute session with me.</p>


            </div>
            <div class="-mt-2 p-2 lg:mt-0 lg:w-full lg:max-w-md lg:flex-shrink-0">
              <div class="rounded-2xl bg-gray-50 py-2 text-center ring-1 ring-inset ring-gray-900/5 lg:flex lg:flex-col lg:justify-center">
                <div class="mx-auto max-w-xs px-8 pt-4 pb-12">

                  <a target="blank" alt="Go to calendar" href="https://calendly.com/dariusz-tdsoft/meeting-with-dariusz?back=1" style="background-color:rgb(22, 228, 43)" class="mt-10 block w-full rounded-md px-12 py-4 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">See my calendar</a>

                </div>
                </div>
              </div>
        </div
          </div>
      </div>
    </div>
  </div>
<br/>

    <small class="text-gray-500">Copyright ©
        2023. See also
        <a href="https://tdsoft.com" target="_blank" class="underline">TDSOFT - software and gamification experts</a>
    </small>
</footer>
